button {
    padding: 1.75%;
    float: right;
    border: .1%;
}

button:hover {
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.5) rgba(0, 0, 0, 0.5);
}

.active {
    background-color: green;
}

.inactive {
    background-color: gray;
}